<div class="box">
  <body class="center">
    <div class="left">
      <h3>TODO List</h3>
      <h4>A place to store all your todos</h4>     
    </div>
    <input [(ngModel)]="filter" placeholder="Filter your to-dos" autofocus="" />
    <ol>
      <todo-item
        (deleted)="deleteItem(i)"
        [task]="list.task"
        *ngFor="let list of getTodos(); let i = index"
        [completed]="list.completed"
      ></todo-item>
    </ol>
    <input [(ngModel)]="newTodo.task" (keyup.enter)="addTask()" placeholder="Add your to-do" />
    <button class="addButton" (click)="addTask()">Add</button>
  </body>
</div>
